/* CSS 전역 변수 선언 */
:root {
	--josefin-font-padding: 5px; /* Josefin Sans 폰트가 가지는 하단 여백을 해결하기 위함*/
  --point-color: #82d4ca;
  --point-dark-color: #3b5f5b;
  --font-color: #DEDEDE;
  --dark-font-color: #292E36;
  --dark-background-color: #292E36;
  --dark-light-background-color: #313742;
  --light-background-color: #FFF8F5;
}

/* CSS 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans KR", "Josefin Sans", sans-serif;
  box-sizing: border-box;
  color: var(--font-color);
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}

body {
  width: 100%;
}

/* Scroll Bar Styles */
body::-webkit-scrollbar { /* 스크롤바 전체 */
	width: 6px;
}
body::-webkit-scrollbar-thumb { /* 스크롤바 막대 */
  background: var(--point-color);
  border-radius: 30%;
}
body::-webkit-scrollbar-track { /*스크롤바 트랙 */
  background: var(--point-dark-color);
}

/* Title & Navigation Bar Styles */
#main-header {
  padding: 0 80px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;

  background-color: var(--dark-light-background-color);
  color: #FFF;
  border-bottom: 1px solid var(--point-dark-color);

  z-index: 1;
}

#main-header .tab-title {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}
#main-header .tab-title label {
  font-size: 1.25rem;
  font-family: "Josefin Sans";
  padding-top: var(--josefin-font-padding);
}

#header__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--point-color);
  
  padding-top: var(--josefin-font-padding);
}


/* Tab Bar Styles */
body input {
  display: none;
}
input:nth-of-type(1) ~ #content .trail-intro {
  display: none;
}
input:nth-of-type(1):checked ~ #content .trail-intro {
  display: block;
}
input:nth-of-type(1):checked ~ #main-header .tab-title label:nth-of-type(1) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

input:nth-of-type(2) ~ #content .trail-detail {
  display: none;
}
input:nth-of-type(2):checked ~ #content .trail-detail {
  display: block;
}
input:nth-of-type(2):checked ~ #main-header .tab-title label:nth-of-type(2) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

input:nth-of-type(3) ~ #content .about-me {
  display: none;
}
input:nth-of-type(3):checked ~ #content .about-me {
  display: block;
}
input:nth-of-type(3):checked ~ #main-header .tab-title label:nth-of-type(3) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

input:nth-of-type(4) ~ #content .about-partner {
  display: none;
}
input:nth-of-type(4):checked ~ #content .about-partner {
  display: block;
}
input:nth-of-type(4):checked ~ #main-header .tab-title label:nth-of-type(4) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}


/* Content Styles */
#content {
  margin-top: 85px;
}
#content .banner {
  padding: 0 80px;
  height: calc(100vh - 85px);
}

/* Trail Intro Styles */
#content > .trail-intro > .banner {
  background: url("./images/intro_banner.png") #292E36;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;

  position: relative;
}
.trail-intro .banner .banner-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;

  position: absolute;
  bottom: 80px;
}
.intro-banner-text-container .intro-banner__title {
  color: #FFF;
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 95px;
}
.intro-banner-text-container .intro-banner__subtitle {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px
}
#content .banner__scroll-down {
  padding: 15px 35px;
  border-bottom: 0.5px solid var(--point-color);
  font-family: "Josefin Sans";
  font-size: 0.93rem;
}

/* Trail Intro - 나 & 서울특별시의 산책로 소개 */
.trail-intro article {
  height: 80vh;
}
.trail-intro article:nth-of-type(2) {
  height: 100%;
}
#content .trail-intro .my-trail-outline,
#content .trail-intro .seoul-trail-outline {
  padding: 80px 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.trail-intro .my-trail-outline {
  background-color: #ECECD6;
}
.trail-intro .seoul-trail-outline {
  background-color: #F0DEDE;
}

.trail-intro .outline-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 15px;
  text-align: left;
}
.trail-intro .outline__title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trail-intro article .outline__title {
  color: #292E36;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 10px;

  text-decoration-line: underline;
  text-decoration-color: var(--point-dark-color);
  text-underline-offset: 10px;
}
.outline-text-container p,
.outline-text-container span {
  color: #555;
}
.outline-text-container .outline__subtitle {
  font-size: 1.3rem;
  font-weight: 700;
}
.outline-text-container .outline__content {
  font-size: 1.15rem;
  line-height: 135%;

  span {
    display: inline;
    text-decoration-line: underline;
    text-decoration-color: rgba(85, 85, 85, 0.9);
    text-underline-offset: 5px;
  }
}
.outline-text-container span.outline__etc {
  text-decoration: none;
  color: var(--point-dark-color);
}

.trail-intro article .vertical-line {
  width: 1px;
  height: 65%;
  background-color: #93B0B6;
}

.trail-intro article .outline__image {
  height: 70%;
  border-radius: 15px;
  object-fit: cover;
}

/* Trail Intro - 산책로 선정 이유 */
.trail-intro .selection-reason {
  padding: 70px 90px;
  background-color: var(--dark-light-background-color); /*#414650*/
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 45px;
}
.selection-reason .reason__title {
  color: #EDEDED;
  font-size: 1.7rem;
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 10px;
}
.selection-reason .reason__content {
  margin: 0 100px;
  padding: 40px 80px;
  background-color: var(--dark-background-color); /*#333841*/

  border: 1px solid rgba(130, 212, 202, 0.4);
  box-shadow: 0 0 10px 10px rgba(130, 212, 202, 0.2);

  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;

  p > span {
    display: inline;
    color: #A1A1A1;
    font-size: 0.7rem;
    font-weight: 400;
  }
}


/* Trail Detail Styles */
#content .trail-detail > .banner {
  padding: 30px 80px;
  background-color: var(--dark-background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    width: calc(100vw - 170px);
    height: calc(100vh - 300px);
  }
}
.detail-banner .banner__title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  text-align: center;
}
.detail-banner .detail-banner__title {
  color: #FFF;
  font-family: "IBM Plex Sans KR";
  font-size: 2.35rem;
  font-weight: 700;
}
.detail-banner .detail-banner__subtitle {
  color: #82D4CA;
  font-size: 1.5rem;
  font-weight: 700;
}




/* Footer Styles */
#footer {
  height: 50px;
  padding: 0 80px;
  background-color: var(--dark-light-background-color);

  border-top: 1px solid var(--point-dark-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
#footer span {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.94rem;
  font-weight: 400;
}
#footer .footer__name {
  color: var(--point-color);
}