/* CSS 전역 변수 선언 */
:root {
	--josefin-font-padding: 5px; /* Josefin Sans 폰트가 가지는 하단 여백을 해결하기 위함*/
  --point-color: #82d4ca;
  --point-dark-color: #3b5f5b;
  --font-color: #DEDEDE;
  --dark-font-color: #292E36;
  --dark-background-color: #3C414A; /* 기본 배경색 ex. header,  */
  --light-background-color: #FFF8F5;
}

/* CSS 초기화 */
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans KR", "Josefin Sans", sans-serif;
  box-sizing: border-box;
  color: var(--font-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}

body {
  width: 100%;
}

/* Scroll Bar Styles */
body::-webkit-scrollbar { /* 스크롤바 전체 */
	width: 6px;
}
body::-webkit-scrollbar-thumb { /* 스크롤바 막대 */
  background: var(--point-color);
  border-radius: 30%;
}
body::-webkit-scrollbar-track { /*스크롤바 트랙 */
  background: var(--point-dark-color);
}

/* Title & Navigation Bar Styles */
#main-header {
  padding: 0 80px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;

  background-color: var(--dark-background-color);
  color: #FFF;
  border-bottom: 1px solid var(--point-dark-color);

  z-index: 1;
}

#main-header .tab-title {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}
#main-header .tab-title label {
  font-size: 20px;
  font-family: "Josefin Sans";
  padding-top: var(--josefin-font-padding);
}

#header__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: var(--point-color);
  
  padding-top: var(--josefin-font-padding);
}

/* Tab Bar Styles */
body input {
  display: none;
}
input:nth-of-type(1) ~ #content .trail-intro {
  display: none;
}
input:nth-of-type(1):checked ~ #content .trail-intro {
  display: block;
}
input:nth-of-type(1):checked ~ #main-header .tab-title label:nth-of-type(1) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

input:nth-of-type(2) ~ #content .trail-detail {
  display: none;
}
input:nth-of-type(2):checked ~ #content .trail-detail {
  display: block;
}
input:nth-of-type(2):checked ~ #main-header .tab-title label:nth-of-type(2) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

input:nth-of-type(3) ~ #content .about-me {
  display: none;
}
input:nth-of-type(3):checked ~ #content .about-me {
  display: block;
}
input:nth-of-type(3):checked ~ #main-header .tab-title label:nth-of-type(3) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

input:nth-of-type(4) ~ #content .about-partner {
  display: none;
}
input:nth-of-type(4):checked ~ #content .about-partner {
  display: block;
}
input:nth-of-type(4):checked ~ #main-header .tab-title label:nth-of-type(4) {
  text-decoration-line: underline;
  text-decoration-color: var(--point-color);
  text-underline-offset: 5px;
}

/* Content Styles */
#content {
  margin-top: 85px;
}

#content .banner {
  padding: 0 80px;
  height: calc(100vh - 85px);
  background-color: var(--dark-background-color);
}

/* Trail Intro Styles */
#content .trail-intro > .banner {
  background: url("./image/intro_banner.png") #292E36;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;

  position: relative;
}
.trail-intro .banner .intro-banner-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;

  position: absolute;
  bottom: 80px;
}
.intro-banner-container .intro-banner__title {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
}
.intro-banner-container .intro-banner__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.intro-banner-container .intro-banner__scroll-down {
  margin-top: 30px;
  padding: 15px 35px;
  border: 0.5px solid var(--point-color);
  font-family: "Josefin Sans";
  font-size: 15px;
}

#content .trail-intro .after-banner {
  height: 500px;
}

/* Footer Styles */
#footer {
  height: 50px;
  padding: 0 80px;
  background: #3C414A;
  display: flex;
  justify-content: start;
  align-items: center;
}
#footer span {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
#footer .footer__name {
  color: var(--point-color);
}