* {
  margin: 0;
  padding: 0;
}
body {
  width: 960px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
} /* CSS 초기화 */

header {
  width: 900px;
  height: 80px;
  background-color: #f6f9d4;
  position: fixed;
  top: 0;
  padding: 40px 30px 0 30px;
}
#title {
  height: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;

  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
header > nav {
  height: 40px;
  overflow: hidden;
}
#ctime {
  width: 250px;
  height: 36px;
  float: right;
  border: 1px dashed orange;
  border-radius: 15px;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
}
.main-menu {
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: black;
  text-decoration: underline;
}

#content {
  margin-top: 120px;
  padding: 10px;
}

footer {
  padding: 20px;
  width: 920px;
  background-color: #d2f299;
}
footer > p {
  font-weight: bold;
  text-align: center;

  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lab {
  padding: 10px;
  border:  1px solid black;
  margin-top: 10px;
}

th {
  background-color: lightgray;
}
td {
  width: 60px;
  text-align: center;
}

#hangman {
  text-align: center;
}
#newgamearea {
  margin-top:2em;
}
#clue, #gessstr {
  font-family: monospace;
  font-size: 2em;
  padding: 1em;
}

#cat-image {
  object-fit: cover;
  width: 400px;
  height: 300px;
}